<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timple.zdpigapp">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.RecordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.record.MZSDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.scan.ScanEarTagActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.main.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.main.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.scan.ScanEarTagDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.record.CFDetailActivity"
            android:screenOrientation="portrait"></activity>

        <receiver android:name=".ui.activity.InstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <activity android:name=".ui.activity.turn.MZSTurnToDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.turn.CFTurnToDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cfturn_to_detail"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.turn.YFSTurnToDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_yfsturn_to_detail"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.activity.turn.HBQTurnToDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".ui.activity.turn.TurnGroupActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>